
*.zip

Assignments/ex0/.idea/

.idea/

Resources/

Assignments/ex0/.vscode/

Assignments/ex1/.vscode/

Assignments/ex1/.ipynb_checkpoints/

.vscode/

Assignments/ex2/.ipynb_checkpoints/

Assignments/ex3/python/__pycache__/

Assignments/ex3/.ipynb_checkpoints/

Assignments/ex4/python/__pycache__/
